<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndt.dao.CaptaininfoMapper">
	<resultMap id="BaseResultMap"
		type="com.ndt.entity.Captaininfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="captainName" jdbcType="VARCHAR"
			property="captainname" />
		<result column="fleetName" jdbcType="VARCHAR"
			property="fleetname" />
		<result column="captainTel" jdbcType="VARCHAR"
			property="captaintel" />
		<result column="createTime" jdbcType="TIMESTAMP"
			property="createtime" />
		<result column="mark" jdbcType="VARCHAR" property="mark" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, captainName, fleetName, captainTel, createTime, mark
	</sql>
	<select id="selectByExample"
		parameterType="com.ndt.entity.CaptaininfoExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from captaininfo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="offset != null &amp;&amp; limit != 0">
			limit ${offset},${limit}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from captaininfo
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from captaininfo
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.ndt.entity.CaptaininfoExample">
		delete from captaininfo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<delete id="deleteByArray" parameterType="int">
		delete from captaininfo where
		id in
		<foreach collection="array" item="item" open="(" separator=","
			close=")">
			#{item}
		</foreach>
	</delete>
	<insert id="insert" parameterType="com.ndt.entity.Captaininfo">
		insert into captaininfo (id, captainName, fleetName,
		captainTel, createTime, mark
		)
		values (#{id,jdbcType=INTEGER}, #{captainname,jdbcType=VARCHAR},
		#{fleetname,jdbcType=VARCHAR},
		#{captaintel,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{mark,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.ndt.entity.Captaininfo">
		insert into captaininfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="captainname != null">
				captainName,
			</if>
			<if test="fleetname != null">
				fleetName,
			</if>
			<if test="captaintel != null">
				captainTel,
			</if>
			<if test="createtime != null">
				createTime,
			</if>
			<if test="mark != null">
				mark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="captainname != null">
				#{captainname,jdbcType=VARCHAR},
			</if>
			<if test="fleetname != null">
				#{fleetname,jdbcType=VARCHAR},
			</if>
			<if test="captaintel != null">
				#{captaintel,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="mark != null">
				#{mark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.ndt.entity.CaptaininfoExample"
		resultType="java.lang.Long">
		select count(*) from captaininfo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update captaininfo
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.captainname != null">
				captainName = #{record.captainname,jdbcType=VARCHAR},
			</if>
			<if test="record.fleetname != null">
				fleetName = #{record.fleetname,jdbcType=VARCHAR},
			</if>
			<if test="record.captaintel != null">
				captainTel = #{record.captaintel,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				createTime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.mark != null">
				mark = #{record.mark,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update captaininfo
		set id = #{record.id,jdbcType=INTEGER},
		captainName = #{record.captainname,jdbcType=VARCHAR},
		fleetName = #{record.fleetname,jdbcType=VARCHAR},
		captainTel = #{record.captaintel,jdbcType=VARCHAR},
		createTime = #{record.createtime,jdbcType=TIMESTAMP},
		mark = #{record.mark,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ndt.entity.Captaininfo">
		update captaininfo
		<set>
			<if test="captainname != null">
				captainName = #{captainname,jdbcType=VARCHAR},
			</if>
			<if test="fleetname != null">
				fleetName = #{fleetname,jdbcType=VARCHAR},
			</if>
			<if test="captaintel != null">
				captainTel = #{captaintel,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="mark != null">
				mark = #{mark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.ndt.entity.Captaininfo">
		update captaininfo
		set captainName = #{captainname,jdbcType=VARCHAR},
		fleetName = #{fleetname,jdbcType=VARCHAR},
		captainTel = #{captaintel,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		mark = #{mark,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>