<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndt.dao.MobileregistryMapper">
	<resultMap id="BaseResultMap"
		type="com.ndt.entity.Mobileregistry">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="realName" jdbcType="VARCHAR"
			property="realname" />
		<result column="tel" jdbcType="VARCHAR" property="tel" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="UploadState" jdbcType="VARCHAR"
			property="uploadstate" />
		<result column="pcPhoto" jdbcType="VARCHAR" property="pcphoto" />
		<result column="driverCard" jdbcType="VARCHAR"
			property="drivercard" />
		<result column="idcardA" jdbcType="VARCHAR" property="idcarda" />
		<result column="idcardB" jdbcType="VARCHAR" property="idcardb" />
		<result column="DrivingLicensePath" jdbcType="VARCHAR"
			property="drivinglicensepath" />
		<result column="operatingLicencePath" jdbcType="VARCHAR"
			property="operatinglicencepath" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, realName, tel, password, UploadState, pcPhoto, driverCard, idcardA,
		idcardB,
		DrivingLicensePath, operatingLicencePath
	</sql>
	<select id="selectByExample"
		parameterType="com.ndt.entity.MobileregistryExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from mobileregistry
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from mobileregistry
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from mobileregistry
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.ndt.entity.MobileregistryExample">
		delete from mobileregistry
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.ndt.entity.Mobileregistry">
		insert into mobileregistry (id, realName, tel,
		password, UploadState, pcPhoto,
		driverCard, idcardA, idcardB,
		DrivingLicensePath, operatingLicencePath
		)
		values (#{id,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}, #{uploadstate,jdbcType=VARCHAR}, #{pcphoto,jdbcType=VARCHAR},
		#{drivercard,jdbcType=VARCHAR}, #{idcarda,jdbcType=VARCHAR},
		#{idcardb,jdbcType=VARCHAR},
		#{drivinglicensepath,jdbcType=VARCHAR}, #{operatinglicencepath,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.ndt.entity.Mobileregistry">
		insert into mobileregistry
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="realname != null">
				realName,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="uploadstate != null">
				UploadState,
			</if>
			<if test="pcphoto != null">
				pcPhoto,
			</if>
			<if test="drivercard != null">
				driverCard,
			</if>
			<if test="idcarda != null">
				idcardA,
			</if>
			<if test="idcardb != null">
				idcardB,
			</if>
			<if test="drivinglicensepath != null">
				DrivingLicensePath,
			</if>
			<if test="operatinglicencepath != null">
				operatingLicencePath,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="realname != null">
				#{realname,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="uploadstate != null">
				#{uploadstate,jdbcType=VARCHAR},
			</if>
			<if test="pcphoto != null">
				#{pcphoto,jdbcType=VARCHAR},
			</if>
			<if test="drivercard != null">
				#{drivercard,jdbcType=VARCHAR},
			</if>
			<if test="idcarda != null">
				#{idcarda,jdbcType=VARCHAR},
			</if>
			<if test="idcardb != null">
				#{idcardb,jdbcType=VARCHAR},
			</if>
			<if test="drivinglicensepath != null">
				#{drivinglicensepath,jdbcType=VARCHAR},
			</if>
			<if test="operatinglicencepath != null">
				#{operatinglicencepath,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.ndt.entity.MobileregistryExample"
		resultType="java.lang.Long">
		select count(*) from mobileregistry
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update mobileregistry
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.realname != null">
				realName = #{record.realname,jdbcType=VARCHAR},
			</if>
			<if test="record.tel != null">
				tel = #{record.tel,jdbcType=VARCHAR},
			</if>
			<if test="record.password != null">
				password = #{record.password,jdbcType=VARCHAR},
			</if>
			<if test="record.uploadstate != null">
				UploadState = #{record.uploadstate,jdbcType=VARCHAR},
			</if>
			<if test="record.pcphoto != null">
				pcPhoto = #{record.pcphoto,jdbcType=VARCHAR},
			</if>
			<if test="record.drivercard != null">
				driverCard = #{record.drivercard,jdbcType=VARCHAR},
			</if>
			<if test="record.idcarda != null">
				idcardA = #{record.idcarda,jdbcType=VARCHAR},
			</if>
			<if test="record.idcardb != null">
				idcardB = #{record.idcardb,jdbcType=VARCHAR},
			</if>
			<if test="record.drivinglicensepath != null">
				DrivingLicensePath = #{record.drivinglicensepath,jdbcType=VARCHAR},
			</if>
			<if test="record.operatinglicencepath != null">
				operatingLicencePath = #{record.operatinglicencepath,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update mobileregistry
		set id = #{record.id,jdbcType=INTEGER},
		realName = #{record.realname,jdbcType=VARCHAR},
		tel = #{record.tel,jdbcType=VARCHAR},
		password = #{record.password,jdbcType=VARCHAR},
		UploadState = #{record.uploadstate,jdbcType=VARCHAR},
		pcPhoto = #{record.pcphoto,jdbcType=VARCHAR},
		driverCard = #{record.drivercard,jdbcType=VARCHAR},
		idcardA = #{record.idcarda,jdbcType=VARCHAR},
		idcardB = #{record.idcardb,jdbcType=VARCHAR},
		DrivingLicensePath = #{record.drivinglicensepath,jdbcType=VARCHAR},
		operatingLicencePath = #{record.operatinglicencepath,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ndt.entity.Mobileregistry">
		update mobileregistry
		<set>
			<if test="realname != null">
				realName = #{realname,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="uploadstate != null">
				UploadState = #{uploadstate,jdbcType=VARCHAR},
			</if>
			<if test="pcphoto != null">
				pcPhoto = #{pcphoto,jdbcType=VARCHAR},
			</if>
			<if test="drivercard != null">
				driverCard = #{drivercard,jdbcType=VARCHAR},
			</if>
			<if test="idcarda != null">
				idcardA = #{idcarda,jdbcType=VARCHAR},
			</if>
			<if test="idcardb != null">
				idcardB = #{idcardb,jdbcType=VARCHAR},
			</if>
			<if test="drivinglicensepath != null">
				DrivingLicensePath = #{drivinglicensepath,jdbcType=VARCHAR},
			</if>
			<if test="operatinglicencepath != null">
				operatingLicencePath = #{operatinglicencepath,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.ndt.entity.Mobileregistry">
		update mobileregistry
		set realName = #{realname,jdbcType=VARCHAR},
		tel = #{tel,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		UploadState = #{uploadstate,jdbcType=VARCHAR},
		pcPhoto = #{pcphoto,jdbcType=VARCHAR},
		driverCard = #{drivercard,jdbcType=VARCHAR},
		idcardA = #{idcarda,jdbcType=VARCHAR},
		idcardB = #{idcardb,jdbcType=VARCHAR},
		DrivingLicensePath = #{drivinglicensepath,jdbcType=VARCHAR},
		operatingLicencePath = #{operatinglicencepath,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>